html {
    background: #ffffff;
}

.body {
    background: rgba(205, 92, 92, 0.69);
    background-image: linear-gradient(135deg, #FFF6B7, rgba(232, 147, 147, 0.69), #f85980);
    /*background-image: linear-gradient(135deg, #eae4e9, #fff1e6, #fde2e4, #fad2e1, #e2ece9, #bee1e6, #f0efeb, #dfe7fd, #cddafd) ; */
    padding: 5%;
    height: 100vh;
    background-attachment: fixed;
    margin: 0px;
}

a {
    color: #f6e8b4;
}

input {
    background: #f6e8b4;
    width: 20%;
}

button {
    background: rgba(112, 192, 218, 0.88);
    width: 20%;
}

.wrapper-of-background {
    display: flex;
    border-bottom: 15px solid #2c2c2c;
    border-right: 15px solid #535151;
    border-radius: 38px;
    animation: ease-in-out;
}

.Background {
    width: 100%;
    height: 90%;
    background: floralwhite;
    padding: 4%;
    corner: round;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-column-gap: 20px;
}

.name {
    /*color: rgba(112, 192, 218, 0.88); */
    color: rgba(255, 235, 235, 0.88);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile-photo {
    display: grid;
    corner: round;
    border-radius: 25px;
    border: 5px solid rgba(112, 192, 218, 0.88);
    justify-items: center;
    align-items: center;
}

.profile-photo img {
    height: 95%;
    width: 95%;
    object-fit: cover;
    corner: round;
    border-radius: 20px;
}

.interests {
    font-size: 20px;
/ / font-weight: bold;
}

.profile-info {
    background: cadetblue;
    color: #bfecd2;
    display: grid;
    padding: 3%;
    corner: round;
    border-radius: 14px;
/ / border: 10 px dashed rgba(112, 192, 218, 0.88);
}